:root {
  --clr-primary-400: hsl(259, 100%, 65%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 94%);
  --clr-neutral-300: hsl(0, 0%, 86%);
  --clr-neutral-400: hsl(0, 1%, 44%);
  --clr-neutral-800: hsl(0, 0%, 8%);
  --clr-error: hsl(0, 100%, 67%);

  --ff: 'Poppins', sans-serif;

  --fs-inputs: 1.5rem;
}

@media (min-width: 800px) {
  :root {
    --fs-inputs: 2rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-family: var(--ff);
  font-weight: 400;
  font-style: italic;
  background-color: var(--clr-neutral-200);
  padding: 1rem;

  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.container {
  background-color: var(--clr-neutral-100);
  padding: 2rem;
  border-radius: 1.25rem 1.25rem 9rem 1.25rem;
  max-width: 842px;
  width: 100%;
  height: 651px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  --clr-txt: var(--clr-neutral-400);
}

.inputs > .err {
  --clr-txt: var(--clr-error);
}

.inputs > div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 81px;
}

.inputs label {
  color: var(--clr-txt);
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
}

.inputs input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.35rem;
  border: 1px solid var(--clr-txt);
  appearance: none;
  font-size: var(--fs-inputs);
  font-weight: 700;
  font-style: normal;
}

.err {
  color: var(--clr-txt);
  font-size: 14px;
}

.separator {
  position: relative;
  isolation: isolate;
  margin-block: 2rem;
  text-align: center;
}

.horizontal-line {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 1px;
  background-color: var(--clr-neutral-300);
}

.calculate-btn {
  background-color: var(--clr-primary-400);
  padding: 1rem;
  border-radius: 100%;
}

.outputs > p {
  font-size: clamp(3rem, 5vw + 0.1rem, 5rem);
  font-weight: 800;
  color: var(--clr-neutral-800);
}

.outputs > p span {
  color: var(--clr-primary-400);
}

.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 700px) {
  .container {
    padding: 3rem;
  }

  .inputs {
    gap: 2rem;
  }

  .inputs > div {
    width: 7.5rem;
  }

  .separator {
    text-align: right;
    margin-block: 0;
  }
}
